#cont-display {
    background-color: #ddddee;
    width: 80%;
    overflow: auto;
}

.panel-child {
    background-color: #eeeeff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #bbbbcc;
}