#cont-menu {
    background-color: #eeeeff;
    width: 20%;
}

.menuitem {
    display: block;
    color: black;
    text-decoration: none;
    background-color: #ddddee;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 2px 2px 2px #bbbbcc;
}

.menuitem:hover {
    text-decoration: none;
    background-color: #bbbbcc;
}

.menuitem:active {
    text-decoration: none;
}

.menuitem:visited {
    text-decoration: none;
}